Repository marvelai-org/marvel-ai-backend, pull requests merged in 2024-11, with the labels that each got.

#73 Pull Request - Epic 7.7 - Syllabus Generator
  app/api/error_utilities.py
  app/api/tool_utilities.py
  app/api/tools_config.json
  app/features/syllabus_generator/README.md
  app/features/syllabus_generator/__init__.py
  app/features/syllabus_generator/core.py
  app/features/syllabus_generator/document_loaders.py
  app/features/syllabus_generator/metadata.json
  app/features/syllabus_generator/prompt/summarize-structured-tabular-data-prompt.txt
  app/features/syllabus_generator/prompt/summarize-text-prompt.txt
  app/features/syllabus_generator/prompt/summarize-youtube-video-prompt.txt
  app/features/syllabus_generator/prompt/syllabus_generator-prompt.txt
  app/features/syllabus_generator/tests/test_syllabus_core.py
  app/features/syllabus_generator/tools.py
  app/services/schemas.py
Labels: enhancement, EXPEDITION, Syllabus Generator

#80 Pull Request - Epic 7.3 - Worksheet Generator
  app/api/error_utilities.py
  app/api/tool_utilities.py
  app/api/tools_config.json
  app/features/worksheet_generator/__init__.py
  app/features/worksheet_generator/core.py
  app/features/worksheet_generator/document_loaders.py
  app/features/worksheet_generator/metadata.json
  app/features/worksheet_generator/prompts/generate-topic-prompt.txt
  app/features/worksheet_generator/prompts/generate-worksheet-prompt.txt
  app/features/worksheet_generator/tests/test_worksheet_tools.py
  app/features/worksheet_generator/tools.py
  app/services/schemas.py
  app/services/tool_registry.py
Labels: enhancement, EXPEDITION, Worksheet Generator

#112 Update metadata.json for enabling args. for the UI
  app/api/tool_utilities.py
  app/features/quizzify/core.py
  app/features/quizzify/metadata.json
  app/features/syllabus_generator/core.py
  app/features/syllabus_generator/metadata.json
  app/features/worksheet_generator/core.py
  app/features/worksheet_generator/metadata.json
  app/features/worksheet_generator/tools.py
  app/services/schemas.py
Labels: documentation, enhancement, Quizzify, Dynamo, Worksheet Generator, Syllabus Generator

#113 Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/suggest-an-improvement.md
Labels: type:documentation

#121 New Worksheet Generator Enhancement
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/suggest-an-improvement.md
  app/api/tool_utilities.py
  app/features/worksheet_generator/core.py
  app/features/worksheet_generator/document_loaders.py
  app/features/worksheet_generator/metadata.json
  app/features/worksheet_generator/prompts/generate-worksheet-question-types-prompt.txt
  app/features/worksheet_generator/tools.py
Labels: type:documentation, type:enhancement, Worksheet Generator

#122 New Syllabus Generator Enhancement
  app/features/syllabus_generator/core.py
  app/features/syllabus_generator/metadata.json
  app/features/syllabus_generator/tools.py
  app/services/schemas.py
  app/utils/document_loaders_summarization.py
  app/utils/prompts_for_summarization/summarize_structured_tabular_data_prompt.txt
  app/utils/prompts_for_summarization/summarize_text_prompt.txt
  app/utils/prompts_for_summarization/summarize_youtube_video_prompt.txt
Labels: type:documentation, type:enhancement, Syllabus Generator

#108 Silicon Sages - AI-Resistant Assignments Expedition
  app/api/tools_config.json
  app/features/ai_resistant_assignment_generator/core.py
  app/features/ai_resistant_assignment_generator/metadata.json
  app/features/ai_resistant_assignment_generator/prompt/ai-resistant-prompt.txt
  app/features/ai_resistant_assignment_generator/tools.py
  app/services/schemas.py
Labels: type:enhancement, EXPEDITION, AI-Resistant

#109 Silicon Sages - Connect with Them Expedition
  app/api/tools_config.json
  app/features/connect_with_them/core.py
  app/features/connect_with_them/metadata.json
  app/features/connect_with_them/prompt/connect-with-them-prompt.txt
  app/features/connect_with_them/tools.py
  app/services/schemas.py
Labels: type:enhancement, EXPEDITION, Connect with Them

#124 New presentation generator expedition
  app/api/tools_config.json
  app/features/presentation_generator/core.py
  app/features/presentation_generator/metadata.json
  app/features/presentation_generator/prompt/presentation-generator-prompt.txt
  app/features/presentation_generator/tools.py
  app/services/schemas.py
Labels: type:documentation, type:enhancement, EXPEDITION, type:new-feature
